.body {
    margin: 0;
}

.container1 .section1,
.container1 .section2 p {
    margin: 0 auto;
    color: #f2f2f2;
    font-size: 18px;
    font-family: cursive;
}

.container1 button {
    background-color: white;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    padding: 15px 20px;
}

.content,
.image-wrapper {
    width: 50%;
}

/* section1 */
.container1 .section1 {
    background-image: url("../about/ab5.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section1 .image-wrapper {
    width: 50%;
    text-align: center;
}

.section1 .content1 {
    width: 50%;
}

.section1 .image-wrapper img {
    padding: 100px 0px;
}

.content1 * {
    text-align: left;
    padding-right: 50px;
}

.section1 .content1 p {
    color: #fff;
}

.section1,
.section2 h2,
h3,
h4 {
    color: #fff;
}

/* section2 */
.section2 {
    background-image: url("./image/ab333.avif");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 100px 0px;
}

.section2 p {
    width: 473px;
    height: auto;
    text-align: left;
    color: #f2f2f2;
}

.section2 .content img {
    width: 473px;
    height: 311px;
}

.section2 .content {
    width: 50%;
    text-align: center;
}

.section2 .ceo {
    width: 50%;
    padding: 50px 0px 0px 50px;
}

.section2 .ceo img {
    width: 473px;
    height: 311px;
}

/* section3 */
.section3 {
    background-color: rgb(255, 228, 196);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section3 .image-wrapper {
    width: 50%;
}

.section3 .image-wrapper img {
    max-width: 100%;
    max-height: auto;
}

.section3 .content {
    width: 50%;
    padding: 0px 50px 0px 75px;
    margin: 0px 0px 0px 0px;
}

.section3,
.section4 p {
    color: black;
}

.section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content,
.image-wrapper {
    flex-basis: 50%;
}

.section4 .image-wrapper img {
    width: 546px;
    height: 358px;
}

.section4 .content {

    margin-top: -30px;
}

.section4 .image-wrapper {
    text-align: center;
    padding: 110px 0px;
}

.description {
    width: 400px;
    margin-left: 150px;
}

.container1 button:hover {
    background-color: #7f8c8d;
    color: #fff;
}

.container1 .title4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .1em;
}

.container1 .text4 {
    font-family: system-ui;
    font-size: 18px;
}