body {
    background-color: #f1f1f1;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-classic {
    background-color: #fff;
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.signup label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #9555FF;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup input[type="submit"]:hover {
    background-color: #9555FF;
}
